<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @user.first_name %> merci pour ta réservation !</h1>
    <p>
      Tu t'es inscrit pour l'événement : <%= @event.title %>.
    </p>
    <p>
      Voici ton numéro de réservation : <%= @attendance.stripe_customer_id%>.
    </p>
    <p>
      Pour accéder à ton espace client, connecte-toi via : <%= @url %>.
    </p>
    <p> À très vite sur calm-journey-06331.herokuapp.com !
  </body>
</html>